@font-face {
  font-family: IRANSansWeb;
  src: url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
  src: url("../fonts/eot/IRANSansWeb.eot") format("embedded-opentype");
  src: url("../fonts/woff/IRANSansWeb.woff")  format("woff");
  src: url("../fonts/woff2/IRANSansWeb.woff2") format("woff2");


  font-weight: normal;
}

@font-face {
  font-family: IRANSansFaNum;
  src: url("../fonts/num/IRANSansFaNum.ttf");
  font-weight: normal;
}

body {
  font-family: IRANSansWeb,sans-serif;
}
nav {
  padding: 0 3vw;
}
.navbar a,
.navbar a:visited {
  text-decoration: none;
  color: white !important;
}
.shadow-sm {
    border-radius: 15px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em !important}.navbar {
  z-index: 1;
}
.shadziLink {
  width: 7rem;
  font-weight:Bold;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  padding: 0.6 2rem;
  border-radius: 25px;
  background-color: rgb(59, 200, 134);
}
.shadziLink:hover {
  background-color: rgb(71, 179, 159);
}
nav img {
  height: 30px !important;
}
.navbar ul {
  padding: 0 20px;
}
.h5,
.h4,
.h6 {
  line-height: 2rem;
}

.boxText {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify;
}

.main-container {
  margin-top: 60px;
}

input[type="text"] {
  font-family: IRANSansFaNum,sans-serif;
}